@tailwind base;
@tailwind components;
@tailwind utilities; 

.sketchy {
  filter: url(#sketchy);
  transition: filter 0.3s ease-in-out;
}

.sketchy-none:hover {
  filter: none;
}

svg#sketch-filter {
  width: 0;
  height: 0;
  position: absolute;
}

@font-face {
    font-family: "CabinSketch";
    src: url("/font/CabinSketch-Regular.ttf") format("truetype");
  }


  /*body {
  /*  font-family: "CabinSketch", sans-serif;
  /*}*/