---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/navbar/Header.astro';
---

<Layout>
	<main class="bg-orange-100  bg-blend-multiply bg-[url(/assets/Background.webp)] bg-no-repeat bg-[length:100%_100%] bg-center h-full w-full fixed">
	<Header />
	<div class="container flex felx-col justify-center">
			<Welcome />
	</div>
	</main>
</Layout>
