---
import '../../styles/global.css';
---
<header class="z-[99999] top-0 bg-orange-100 shadow-md">
  <div class="container justify-between items-center mx-auto flex z-50">
    <nav class="hidden md:flex space-x-6">
      <div class="p-2 hover:scale-110 font-[shadowsLight2] font-bold hover:shadow-lg transition-transform duration-300 rounded-lg text-neutral-700 sketchy sketchy-none">
       <a href="#home" class="text-4xl">
           Home
       </a>
       </div>
       <div class="p-2 hover:scale-110 font-shadowsLight2 font-bold hover:shadow-lg transition-transform duration-300 rounded-lg text-neutral-700 sketchy sketchy-none">
       <a href="#projects" class="text-4xl">
           Projects
       </a>
       </div>
       <div class="p-2 hover:scale-110 font-shadowsLight2 font-bold hover:shadow-lg transition-transform duration-300 rounded-lg text-neutral-700 sketchy sketchy-none">
       <a href="#about" class="text-4xl">
           About
       </a>
       </div>
      <div class="p-2 hover:scale-110 hover:shadow-lg font-shadowsLight2 font-bold transition-transform duration-300 rounded-lg text-neutral-700 sketchy sketchy-none">
       <a href="#blog" class="text-4xl">
           Blog
       </a>
       </div>
      </nav>
</div>
</header>