---
import '../../styles/global.css';
import Logo from './Logo.astro';
import HeaderButton from '../UI/HeaderButton.astro';
---
<header class="z-[99999] top-0 fixed w-full bg-transparent">
  <div class="container justify-between items-center mx-auto flex z-50">
    {/* Logo */}
     <div class="hover:scale-110 transition-transform duration-300 px-10 pb-1 justify-between items-center flex"> 
      <a href="/" class="flex sketch-shadow bg-[rgba(251,243,225,255)] border-2 rounded-2xl border-neutral-700 items-center">
        <Logo />
      </a>
     </div>
     {/* Navigation Links */} 
        <nav id="siteNav" class="relative opacity-0 justify-center space-x-6 z-[-10] scale-50 transition-all duration-300 origin-top">
          <HeaderButton href="#home">
          <div class="font-[shadowsLight2] font-bold text-neutral-800 text-4xl">
           Home
          </div>
          </HeaderButton>
          <HeaderButton href="#projects">
            <div class="font-[shadowsLight2] font-bold text-neutral-800 text-4xl">
           Projects        
          </div>
        </HeaderButton>
        <HeaderButton href="#about">
          <div class="font-[shadowsLight2] font-bold text-neutral-800 text-4xl">            
           About
          </div>
        </HeaderButton>
        <HeaderButton href="#blog">
          <div class="font-[shadowsLight2] font-bold text-neutral-800 text-4xl">
           Blog
          </div>
        </HeaderButton>
        </nav> 
      {/* Actions */}
      <div class="top-0 px-10 pt-2.5 pb-2.5 justify-between items-center flex"> 
        <div class="flex space-x-6">
          <button class="drop-shadow-2xl bg-[url(/assets/Button.png)] bg-center bg-no-repeat bg-[length:100%_100%] p-2 group transition-transform duration-300 hover:scale-110">
            <div class="rotate-180 transition-transform duration-300 group-hover:rotate-0">
            🌓
            </div>
          </button>
          <button class="drop-shadow-2xl bg-[url(/assets/Button.png)] bg-center bg-no-repeat bg-[length:100%_100%] p-2 group transition-transform duration-300 hover:scale-110">
            <div class="apply-bounce">
            🚀
            </div>
          </button>
            <button id="profileBtn" class="rotate-0 flex w-10 h-10 bg-[url(/assets/Profile.webp)] justify-center items-center bg-cover rounded-full hover:shadow-lg transition-transform duration-300 hover:scale-110">
            </button>
        </div>
      </div>
  </div>
</header>
<script>
  const profileBtn = document.getElementById('profileBtn');
    if (profileBtn) {
           profileBtn.addEventListener('click', () => {
            const nav = document.getElementById('siteNav');
            if (nav) {
                  if (nav.classList.contains('z-[-10]')) {
                       profileBtn.classList.remove('rotate-0');
                       profileBtn.classList.add('rotate-180');
                       nav.classList.remove('z-[-10]', 'scale-75', 'opacity-0');
                       nav.classList.add('z-50', 'scale-100', 'opacity-100');
                    } else {
                       profileBtn.classList.remove('rotate-180');
                       profileBtn.classList.add('rotate-0');
                       nav.classList.remove('z-50', 'scale-100', 'opacity-100');
                       nav.classList.add('z-[-10]', 'scale-75', 'opacity-0');
                     }
                  }
              });
            }
</script>