---
import '../../styles/global.css';
---

<div class="bg-transparent w-36 h-14 rounded-3xl">
    <div class="w-full h-full bg-cover justify-center items-center bg-[url(/assets/Logo.webp)]">  
    </div>
</div>