# Node.js dependencies
node_modules/
npm-debug.log*
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# Build outputs
dist/
build/

# Static files cache
.cache/

# Environment variables
.env
.env*
.env.local
.env.*.local

# Editor and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.pem

# testing
/coverage

# vercel
.vercel

# debug
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts



